<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <meta name="description" content="view movement of the memory" />
        <meta name="keywords" content="image gallery" />
        <meta name="theme-color" content="#ba3d07" />\
        <link rel=" shortcut icon" href="https://www.flaticon.com/free-icon/insert-picture-icon_16410" type="image-icon" />
        <link rel="stylesheetg" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

        <title>memory of precious time of my heart</title>
    </head>
    <body>
        <button class="btn-top" title="back to top">
            <i class="fa-solid fa-chevron-up"></i>
        </button>

        <header id="header" class="header">
            <div class="logo">
                <a>
                    <img src="https://www.flaticon.com/free-icon/insert-picture-icon_16410"/>
                </a>
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="./index1.html"> login</a></li>
                    <li><a href="./Signup.html">signup</a></li></ul>
            </nav>
        </header>
    </body>
</html>